/* Base Rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    margin:  0 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label,
button {
  font-family: "Urbanist", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* base rule end here */


/* website theme start here */

/* website theme end here */


/* Layout start Here */
.flex {
    display: flex;
}
.grid {
    display: grid;
}
/* Layout End Here */



/* resuable CSS start here */
/* resuable CSS end here */




/* Header Css start */
.header {
    background-color: #343a40;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        color: #fff;
        
        & .logo {
           font-size: 2.5rem;
           font-weight: 700;
           text-transform: uppercase;
        }
        & .search-container {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        & #search-bar {
            padding: 1rem 1.5rem;
            border-radius: 2rem;
            border: none;
            width: 20rem;
            font-size: 1.5rem;
        }
        & .search-btn {
            padding: 0.8rem 1.4rem;
            background-color: #ff6347;
            color: white;
            border: none;
            border-radius: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            &:hover {
                background-color: #e55347;
            }
        }
        & .profile {
            position: relative;
        
            &:hover .dropdown {
                display: block;
            }

            & .dropdown {
                display: none;
                position: absolute;
                right: 0;
                top: 100%;
                background-color: #fff;
                color: #000;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                overflow: hidden;
        
                & a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #343a40;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: #e9ecef;
                    }
                }
            }
        }
    }
}

/* Header Css end */